{{#each meals as |meal|}}
  <button type="button" class="btn btn-primary meal-button" data-id="{{meal.id}}">
    {{meal.name}}
  </button>
  <button type="button" class="btn btn-danger meal-button-delete float-right"  data-id="{{meal.id}}">X</button>
  <br />
{{/each}}
