{{#each items as |item|}}
  <div class="meal-item" data-id="{{item.id}}">
    {{item.name}}
    <button type="button" class="btn btn-danger meal-item-button-delete float-right" data-id="{{item.id}}"><i class="fa fa-trash" aria-hidden="true"></i></button>
  </div>
{{/each}}
