{{#each items as |item|}}
  <button type="button" class="btn btn-success menu-button-add float-right"  data-id="{{item.id}}">+</button>
  <span class="menu-item" data-id="{{item.id}}">
    {{item.name}}
  </span>
  <br />
{{/each}}
