$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$tbpurple: rgb(54, 57, 154);
$tbyellow: rgb(254, 224, 18);
$tbpink: rgb(239, 24, 151);

@font-face {
  font-family: 'Taco Bell Old';
  font-weight: bold;
  src: url('./tacobellold.ttf');
}

body {
  background-color: $tbpurple;
  color: $tbyellow;
  font-family: 'Taco Bell Old';
}

.navbar {
  background-color: $tbpink;
  border-color: $tbpink;
  color: $tbyellow;
  .navbar-brand,
  .navbar-nav li a {
    color: $tbyellow;
  }
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-brand:hover {
  color: $tbpurple;
}

.meal-button {
  width: 79%;
}

.meal-button-delete {
  float: right;
  width: 20%;
}

.meal-item-button-delete {
  float: right;
}

.meal-item {
  display: inline-block;
  width: 100%;
  padding-bottom: 4px;
  span {
    padding-top: 15px;
  }
}

.meal-items-title {
  font-size: 24px;
}

.menu-item {
  padding-bottom: 4px;
}

.tb-list {
  font-size: 16px;
  height: 500px;
  overflow-y: auto;
}

.form-error {
  color: #f00;
  padding-top: 10px;
}

.signin-to-continue {
  text-align: center;
}
