$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$tbpurple: rgb(54, 57, 154);
$tbyellow: rgb(254, 224, 18);
$tbpink: rgb(239, 24, 151);

@font-face {
  font-family: 'Taco Bell Old';
  font-weight: bold;
  src: url('./tacobellold.ttf');
}

body {
  background-color: $tbpurple;
  color: $tbyellow;
  font-family: 'Taco Bell Old';
}

.navbar {
  background-color: $tbpink;
  border-color: $tbpink;
  color: $tbyellow;
  .navbar-brand,
  .navbar-brand:hover,
  .navbar-nav li a {
    color: $tbyellow;
  }
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-brand:hover {
  color: $tbpurple;
}

.meal-items-title {
  margin: 0 auto 10px;
  text-align: center;
}

.meal-button {
  white-space: normal;
  width: 79%;
}

.meal-button-delete {
  float: right;
  width: 20%;
}

.meal-item-button-delete {
  float: right;
  height: 100%;
  margin-top: 4px;
}

.modal {
  color: black;
}

.meal-item {
  background-color: $tbyellow;
  color: $tbpurple;
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid $tbpink;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 4px;
  margin-bottom: 4px;
  div {
    display: inline-block;
    padding-top: 11px;
    font-size: 22px;
    width: 80%;
  }
  text-align: center;
}

.meal-div {
  padding-bottom: 5px;
}

.meal-items-title {
  font-size: 24px;
}

.menu-item {
  padding-bottom: 4px;
}

.tb-list {
  font-size: 16px;
  height: 500px;
  overflow-y: auto;
}

.form-error {
  color: #f00;
  padding-top: 10px;
}

.signin-to-continue {
  text-align: center;
}
